# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Cv1 Ut 18-20/cmake-build-debug/*
Cv1 Ut 18-20/.idea/*
Cv1 Ut 18-20/.idea/workspace.xml

Cv2 Ut 18-20/cmake-build-debug/*
Cv2 Ut 18-20/.idea/*
Cv2 Ut 18-20/.idea/workspace.xml
Cv2 Ut 18-20/CMakeLists.txt

Cv3 Ut 18-20/cmake-build-debug/*
Cv3 Ut 18-20/.idea/*
Cv3 Ut 18-20/.idea/workspace.xml
Cv3 Ut 18-20/CMakeLists.txt

Cv4 Ut 18-20/cmake-build-debug/*
Cv4 Ut 18-20/.idea/*
Cv4 Ut 18-20/.idea/workspace.xml
Cv4 Ut 18-20/CMakeLists.txt

Cv5 Ut 18-20/cmake-build-debug/*
Cv5 Ut 18-20/.idea/*
Cv5 Ut 18-20/.idea/workspace.xml
Cv5 Ut 18-20/CMakeLists.txt

Cv6 Ut 18-20/cmake-build-debug/*
Cv6 Ut 18-20/.idea/*
Cv6 Ut 18-20/.idea/workspace.xml
Cv6 Ut 18-20/CMakeLists.txt

